.container-fluid((click)="$event.preventDefault()")
  .row
    .d-inline
      .btn-group(dropdown)
        button.btn.btn-primary.btn-xs(type="button", dropdownToggle)
          | Period: {{ period?.name }}
          span.caret

        ul(dropdownMenu, role="menu")
          li(*ngFor="let p of periods", role="menuitem")
            a.small.dropdown-item((click)="period_selected(p)") {{ p.name }}
    .d-inline
      .btn-group(dropdown)
        button.btn.btn-primary.btn-xs(type="button", dropdownToggle)
          | Project: {{ project?.name }}
          span.caret

        ul(dropdownMenu, role="menu")
          li(*ngFor="let p of projects", role="menuitem")
            a.small.dropdown-item((click)="project_selected(p)") {{ p.name }}
    .d-inline
      range((range_selected)="range_selected($event)")

  hr

  .row
    .col-md-6
      series-graph(title="CPU Time", metric="cpu", [project]="project", [period]="period", [range]="range")

    .col-md-6
      series-graph(title="Wall Clocl Time", metric="wallclocktime", [project]="project", [period]="period", [range]="range")
