h4 Details of {{ project?.name }}

.container-fluid
  .row
    .col-sm-5
      granularity-selector((selection_changed)="granularity=$event")
      metric-selector((selection_changed)="metric=$event")

    .col-sm-7
      daterange-selector((selection_changed)="daterange=$event")
  .row
    //project-selector(multi="false", selection_changed)="project=$event")

  .row
    aggregate-graph([metric]="metric", [project]="project", [granularity]="granularity", [daterange]="daterange", period=3600)

  .row
    //aggregate-table([metric]="metric", [project]="project", [granularity]="granularity", [daterange]="daterange", period=3600)

