h4 Details of {{ project?.name }}

.container-fluid
  .row
    .form-inline
      metric-selector((selection_changed)="metric=$event", label="Metric:")
      granularity-selector((selection_changed)="granularity=$event", label="Granularity:")

  .row
    daterange-selector((selection_changed)="daterange=$event")
  .row
    //project-selector(multi="false", selection_changed)="project=$event")

  .row
    aggregate-graph([metric]="metric", [project]="project", [granularity]="granularity", [daterange]="daterange", [period]="3600", [show_table]="true")
