h4 Accounting

.container-fluid
  .row
    .form-inline
      metric-selector(label="Metric:")
      granularity-selector(label="Granularity:")

  .row
    daterange-selector

  // .row
  //   project-selector

  aggregate
    .row
      .card
        .card-block(style="padding: 0;")
          aggregate-graph

    .row
      .card
        .card-header
          h5 Aggregates from {{ daterange?.start | date: 'y-MM-dd HH:mm Z' }} to {{ daterange?.end | date: 'y-MM-dd HH:mm Z' }}

        .card-block
          aggregate-table
