h4 Accounting

.container-fluid
  .row
    .form-inline
      metric-selector((selection_changed)="metric=$event", label="Metric:")
      granularity-selector((selection_changed)="granularity=$event", label="Granularity:")

  .row
    daterange-selector((selection_changed)="daterange=$event")

  aggregate([metric]="metric", [period]="3600", [daterange]="daterange", [granularity]="granularity")
    .row
      .card
        .card-block(style="padding: 0;")
          aggregate-graph

        .card-footer
          aggregate-download

    .row
      .card
        .card-header
          h5 Totals from {{ daterange?.start | date: 'y-MM-dd HH:mm Z' }} to {{ daterange?.end | date: 'y-MM-dd HH:mm Z' }}

        .card-block
          aggregate-table
