nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top.topnav
  .collapse.navbar-toggleable-xs.clearfix.text-center
    a.navbar-brand(routerLink="home") Home

    // ul.nav.navbar-nav.top-nav.navbar-right.pull-xs-right.top-right-nav
    //   li ciao
