nav.sidebar
  ul.list-group
    a.list-group-item(routerLink="home", routerLinkActive="active")
      i.fa.fa-fw.fa-home
      | Home

    a.list-group-item(routerLink="accounting", routerLinkActive="active")
      i.fa.fa-fw.fa-area-chart
      | Accounting
