div(*ngIf="loading>=0")
  .row
    .col-sm-2
    .col-sm-8
      | Loading data: {{ loading | percent }}
      progress.progress([value]="loading" max="1")

div(*ngIf="loading<0")
  div
    nvd3([options]="options", [data]="data")

  button.btn.btn-primary(type="button", (click)="download_CSV('data.csv')")
    | Download data
    i.fa.fa-fw.fa-download

hr

div(*ngIf="loading<0")
  h5 Totals from {{ daterange?.start | date: 'y-MM-dd HH:mm Z' }} to {{ daterange?.end | date: 'y-MM-dd HH:mm Z' }}

  table.table.table-bordered
    thead
      th Project
      th Total [hours]
    tbody
      tr(*ngFor="let p of projects")
        td {{ p.name }}
        td {{ dataseries_sum(p)/3600 | number: '1.2-2' }}
