<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" [popover]="daterange_popover" placement="bottom" container="body" #pop="bs-popover"><i class="fa fa-fw fa-calendar"></i>{{ describe_daterange(range) }}</button>
</div>
<ng-template #daterange_popover>
  <div class="container-fluid" id="daterange">
    <div class="row">
      <div class="col-12">
        <!--h5 Quick Ranges-->
        <!-- button.btn.btn-sm(type="button", *ngFor="let p of presets", [class.btn-primary]="is_selected(p, range)", [class.btn-secondary]="!is_selected(p, range)", [class.active]="is_selected(p, range) || is_selected(p, daterange)", (click)="select_preset(p)") {{ p.label }}-->
        <div class="btn-group pull-right">
          <button class="btn btn-primary" type="button" (click)="ok_clicked(); pop.hide()">Apply</button>
          <button class="btn btn-secondary" type="button" (click)="cancel_clicked(); pop.hide()">Cancel</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-md-auto">
        <h5>Quick Ranges</h5>
        <div class="btn-group-vertical">
          <button class="btn btn-sm" type="button" *ngFor="let p of presets" [class.btn-primary]="is_selected(p, range)" [class.btn-secondary]="!is_selected(p, range)" [class.active]="is_selected(p, range) || is_selected(p, daterange)" (click)="select_preset(p)">{{ p.label }}</button>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-6">
            <label><b>From:</b> {{ start_date | date: 'dd/MM/yy HH:mm' }}</label>
            <datepicker [(ngModel)]="start_date" [showWeeks]="false" [startingDay]="1"></datepicker>
            <timepicker [(ngModel)]="start_date" [hourStep]="1" [minuteStep]="60" [showMeridian]="false"></timepicker>
          </div>
          <div class="col-6">
            <label><b>To:</b> {{ end_date | date: 'dd/MM/yy HH:mm' }}</label>
            <datepicker [(ngModel)]="end_date" [showWeeks]="false" [startingDay]="1"></datepicker>
            <timepicker [(ngModel)]="end_date" [hourStep]="1" [minuteStep]="60" [showMeridian]="false"></timepicker>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
