<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="p-2" *ngIf="show_set_selector">
        <dropdown [items]="sets" (valueChange)="selected_set=$event"></dropdown>
      </div>
      <div class="p-2" *ngIf="show_granularity_selector" pTooltip="Granularity">
        <dropdown [items]="granularities" [(value)]="selected_granularity"></dropdown>
      </div>
      <div class="p-2" pTooltip="Linewidth">
        <dropdown [items]="linewidths" (valueChange)="selected_linewidth=$event" icon="pencil"></dropdown>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div *ngIf="fetching>=0">
      <div class="progress">
        <div class="progress-bar" [style.width.%]="fetching_percent"></div>
      </div>
      <div class="row justify-content-center">Loading data: {{ fetching_percent | number:'1.2-2' }}%</div>
    </div>
    <nvd3 #nvd3 [options]="options" [data]="data"></nvd3>
  </div>
  <div class="card-footer">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-outline-dark" type="button" (click)="select_all()" tooltip="Click here to select all all series.">Select all</button>
        <button class="btn btn-outline-dark" type="button" (click)="deselect_all()" tooltip="Click here to deselect all series.">Deselect all</button>
      </div>
      <!-- .btn-group(role="group")-->
      <!--   button.btn.btn-secondary(type="button", (click)="downloader.download_CSV('data.csv')", tooltip="Download raw data in CSV format.")-->
      <!--     | Download data-->
      <!--     i.fa.fa-fw.fa-download-->
    </div>
    <p>Click on legend entries to cycle their visibility. To select a single series, double click on the legend entry.</p>
  </div>
</div>
