<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="p-2" *ngIf="show_set_selector">
        <p-dropdown [options]="sets" (onChange)="selected_set=$event.value" [autoWidth]="true" [style]="{'width': '100%'}"></p-dropdown>
      </div>
      <div class="p-2" *ngIf="show_daterange_selector">
        <daterange (rangeChange)="date_range=$event"></daterange>
      </div>
      <div class="p-2" *ngIf="show_granularity_selector">Granularity:
        <p-dropdown [options]="granularities" (onChange)="selected_granularity=$event.value"></p-dropdown>
      </div>
      <div class="p-2 dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" [popover]="settings_popover" placement="bottom" container="body" #pop="bs-popover"><i class="fa fa-fw fa-wrench"></i>Settings</button>
      </div>
    </div>
  </div>
  <div class="card-block">
    <div *ngIf="fetching>=0">
      <div class="progress">
        <div class="progress-bar" [style.width.%]="fetching_percent"></div>
      </div>
      <div class="row justify-content-center">Loading data: {{ fetching_percent | number:'1.2-2' }}%</div>
    </div>
    <nvd3 [options]="options" [data]="data"></nvd3>
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group mr-2" role="group">
        <button class="btn btn-outline-dark" type="button" (click)="select_all()" tooltip="Click here to select all all series.">Select all</button>
        <button class="btn btn-outline-dark" type="button" (click)="deselect_all()" tooltip="Click here to deselect all series.">Deselect all</button>
      </div>
      <!-- .btn-group(role="group")-->
      <!--   button.btn.btn-secondary(type="button", (click)="downloader.download_CSV('data.csv')", tooltip="Download raw data in CSV format.")-->
      <!--     | Download data-->
      <!--     i.fa.fa-fw.fa-download-->
    </div>
    <p>Click on legend entries to cycle their visibility. To select a single series, double click on the legend entry.</p>
  </div>
</div>
<ng-template #settings_popover>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <label for="linewidth_selector">Linewidth:</label>
        <p-dropdown id="linewidth_selector" [options]="linewidths" (onChange)="selected_linewidth=$event.value"></p-dropdown>
      </div>
    </div>
  </div>
</ng-template>
