<div class="card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <div class="p-2" *ngIf="show_set_selector">
          <label>Set</label>
          <dropdown [items]="sets" [(value)]="selected_set"></dropdown>
        </div>
        <div class="p-2" *ngIf="show_granularity_selector" pTooltip="Granularity">
          <label>Granularity</label>
          <dropdown [items]="granularities" [(value)]="selected_granularity"></dropdown>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="p-2" pTooltip="Linewidth">
          <dropdown [items]="linewidths" [(value)]="selected_linewidth" icon="pencil"></dropdown>
        </div>
        <div class="p-2" pTooltip="Height">
          <dropdown [items]="heights" [(value)]="selected_height" icon="arrows-v"></dropdown>
        </div>
      </div>
    </div>
  </div>
  <div class="card-block">
    <alert *ngFor="let alert of alerts"
           [type]="alert.type"
           [dismissible]="alert.dismissible"
           (onClosed)="dismiss_alert(alert)">{{ alert.msg }}</alert>
    <div *ngIf="fetching>=0">
      <div class="progress">
        <div class="progress-bar" [style.width.%]="fetching_percent"></div>
      </div>
      <div class="row justify-content-center">Loading data: {{ fetching_percent | number:'1.2-2' }}%</div>
    </div>
    <nvd3 #nvd3 [options]="options" [data]="data"></nvd3>
  </div>
  <div class="card-footer">
    <div class="btn-toolbar" role="toolbar">
      <button class="btn btn-link" type="button" (click)="select_all()" tooltip="Click here to select all all series.">Select all</button>
      <button class="btn btn-link" type="button" (click)="deselect_all()" tooltip="Click here to deselect all series.">Deselect all</button>

      <!-- .btn-group(role="group")-->
      <!--   button.btn.btn-secondary(type="button", (click)="downloader.download_CSV('data.csv')", tooltip="Download raw data in CSV format.")-->
      <!--     | Download data-->
      <!--     i.fa.fa-fw.fa-download-->
      <button type="button" class="btn btn-link" (click)="help_collapsed = !help_collapsed">{{ help_collapsed ? 'Show' : 'Hide' }} help</button>
    </div>
    <div [collapse]="help_collapsed">
      <p>Click on legend entries to cycle their visibility. To select a single series, double click on the legend entry.</p>
      <p>Series descriptions:</p>
      <dl class="row" *ngIf="selected_set && selected_set.series">
        <ng-container *ngFor="let s of selected_set.series">
          <dt class="col-sm-3">{{ s.label }}</dt>
          <dd class="col-sm-9">{{ s.description }}</dd>
        </ng-container>
      </dl>
    </div>
  </div>
</div>
