//-
//- caos-dashboard - CAOS dashboard
//-
//- Copyright © 2017 INFN - Istituto Nazionale di Fisica Nucleare (Italy)
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-     http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//-
//-
//- Author: Fabrizio Chiarello <fabrizio.chiarello@pd.infn.it>
//-

h3 Accounting

graph([config]='graph_config', (on_set_selected)="selected_set=$event; update_stats()", (on_date_range_selected)="date_range=$event; update_stats()")

h3 Aggregated data
h5 from {{ date_range?.start | date: 'y-MM-dd HH:mm Z' }} to {{ date_range?.end | date: 'y-MM-dd HH:mm Z' }}

div(*ngIf="fetching_stats>=0")
  .progress
    .progress-bar([style.width.%]="fetching_stats_percent")
  .row.justify-content-center
    | Loading data: {{ fetching_stats_percent | number:'1.2-2' }}%

p-dataTable(#dt, [value]="stats", tableStyleClass="table table-bordered table-hover")
  p-column(header='Name', field='name', [sortable]="true")
    ng-template(let-col, let-rd="rowData", pTemplate="body")
      | {{ rd.name }}

  p-column([header]='selected_set?.y_axis_label', field='value', [sortable]="true")
    ng-template(let-col, let-rd="rowData", pTemplate="body")
      | {{ rd.value | number:'1.2-2' }}

  p-column(header='Percentage w.r.t overall', field='overall_percent', [sortable]="true")
    ng-template(let-col, let-rd="rowData", pTemplate="body")
      | {{ rd.overall_percent | percent:'1.2-2' }}
