//-
//- caos-frontend - CAOS frontend
//-
//- Copyright © 2016 INFN - Istituto Nazionale di Fisica Nucleare (Italy)
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-     http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//-
//-
//- Author: Fabrizio Chiarello <fabrizio.chiarello@pd.infn.it>
//-

nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top.topnav
  .collapse.navbar-toggleable-xs.clearfix.text-center
    a.navbar-brand(routerLink="/") Home

    ul.nav.navbar-nav.pull-right
      li.nav-item
        a.nav-link((click)="logout()")
          i.fa.fa-fw.fa-power-off
          | Log out


nav.sidebar
  ul.list-group
    a.list-group-item(routerLink="accounting", routerLinkActive="active")
      i.fa.fa-fw.fa-area-chart
      | Accounting

.main-container
  router-outlet
