nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top.topnav
  .collapse.navbar-toggleable-xs.clearfix.text-center
    a.navbar-brand(routerLink="/") Home

    ul.nav.navbar-nav.pull-right
      li.nav-item
        a.nav-link((click)="logout()")
          i.fa.fa-fw.fa-power-off
          | Log out


nav.sidebar
  ul.list-group
    a.list-group-item(routerLink="accounting", routerLinkActive="active")
      i.fa.fa-fw.fa-area-chart
      | Accounting

.main-container
  router-outlet
