//-
//- caos-dashboard - CAOS dashboard
//-
//- Copyright © 2016, 2017 INFN - Istituto Nazionale di Fisica Nucleare (Italy)
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-     http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//-
//-
//- Author: Fabrizio Chiarello <fabrizio.chiarello@pd.infn.it>
//-

nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-inverse.fixed-top
  button.navbar-toggler.navbar-toggler-right(type="button", data-toggle="collapse", data-target="#nb")
    span.navbar-toggler-icon

  a.navbar-brand(routerLink="/") Home

  .collapse.navbar-collapse#nb
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(routerLink="projects", routerLinkActive="active")
          i.fa.fa-fw.fa-users
          | Projects

      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink="hypervisors")
          i.fa.fa-fw.fa-microchip
          | Hypervisors

      li.nav-item(routerLinkActive="active")
        a.nav-link(routerLink="accounting")
          i.fa.fa-fw.fa-area-chart
          | Accounting

    ul.nav.navbar-nav.pull-right
      li.nav-item
        a.nav-link((click)="logout()")
          i.fa.fa-fw.fa-power-off
          | Log out


.container-fluid.main-container
  router-outlet
