<div class="container-fluid login-page">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1>CAOS {{ site_name ? '-- ' + site_name : '' }}</h1>
      <h5>Control Application for OpenStack</h5>
      <h3 style="margin-top: 3em;">Authentication required</h3>

      <div class="alert alert-danger" role="alert" *ngIf="error_message">{{ error_message }}</div>
      <form role="form" (ngSubmit)="login()">
        <div class="form-content">
          <div class="form-group">
            <input class="form-control input-underline input-lg" type="text" placeholder="Username" name="username" [(ngModel)]="username">
          </div>
          <div class="form-group">
            <input class="form-control input-underline input-lg" type="password" placeholder="Password" name="password" [(ngModel)]="password">
          </div>
        </div>
        <button class="btn" type="submit">Log in</button>
      </form>
    </div>
  </div>
</div>
