<h3>Global Overview (usages over last hour)</h3>
<graph [config]="graph_config" [show_daterange_selector]="true" [show_set_selector]="true"></graph>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Active instances</h4>
        <div class="progress">
          <div class="progress-bar" [style.width.%]="overall.vms_active_percent" [ngClass]="usage_class(overall.vms_active_percent)">{{ overall.vms_active_percent | number:'1.2-2' }}%</div>
        </div>{{ overall.vms_active }} of {{ overall.vms_total }}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">VCPUs</h4>
        <div class="progress">
          <div class="progress-bar" [style.width.%]="overall.vcpus_usage_percent" [ngClass]="usage_class(overall.vcpus_usage_percent)">{{ overall.vcpus_usage_percent | number:'1.2-2' }}%</div>
        </div>{{ overall.vcpus_usage / 3600 | number:'1.2-2' }} of {{ overall.vcpus_total }}
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">VRAM Usage [GB]</h4>
        <div class="progress">
          <div class="progress-bar" [style.width.%]="overall.memory_usage_percent" [ngClass]="usage_class(overall.memory_usage_percent)">{{ overall.memory_usage_percent | number:'1.2-2' }}%</div>
        </div>{{ overall.memory_usage / 3600 / 1e9 | number:'1.2-2' }} of {{ overall.memory_total / 1e9 }}
      </div>
    </div>
  </div>
</div>
<hr>
<h3>Projects usages over last hour</h3>
<p-dataTable #dt [value]="projects" tableStyleClass="table" expandableRows="true">
  <p-column expander="true" [style]="{'width':'32px'}"></p-column>
  <p-column header="Name" field="metadata.name" [sortable]="true">
    <ng-template let-col let-rd="rowData" pTemplate="body"><span pTooltip="{{ rd.metadata.description }}">{{ rd.metadata.name }}</span></ng-template>
  </p-column>
  <p-column header="Last Updated" field="last_updated" [sortable]="true"></p-column>
  <p-column header="Instances">
    <ng-template let-col let-rd="rowData" pTemplate="body">
      <div class="progress">
        <div class="progress-bar" [style.width.%]="rd.vms_active_percent" [ngClass]="usage_class(rd.vms_active_percent)">{{ rd.vms_active_percent | number:'1.2-2' }}%</div>
      </div>{{ rd.vms_active }} of {{ rd.vms_total }}
    </ng-template>
  </p-column>
  <p-column header="VCPUs">
    <ng-template let-col let-rd="rowData" pTemplate="body">
      <div class="progress">
        <div class="progress-bar" [style.width.%]="rd.vcpus_usage_percent" [ngClass]="usage_class(rd.vcpus_usage_percent)">{{ rd.vcpus_usage_percent | number:'1.2-2' }}%</div>
      </div>{{ rd.vcpus_usage / 3600 | number:'1.2-2' }} of {{ rd.vcpus_total }}
    </ng-template>
  </p-column>
  <p-column header="VRAM Usage [GB]">
    <ng-template let-col let-rd="rowData" pTemplate="body">
      <div class="progress">
        <div class="progress-bar" [style.width.%]="rd.memory_usage_percent" [ngClass]="usage_class(rd.memory_usage_percent)">{{ rd.memory_usage_percent | number:'1.2-2' }}%</div>
      </div>{{ rd.memory_usage / 3600 / 1e9 | number:'1.2-2' }} of {{ rd.memory_total / 1e9 }}
    </ng-template>
  </p-column>
  <ng-template let-project pTemplate="rowexpansion">
    <graph [config]="graph_config_for_project[project.id]"></graph>
  </ng-template>
</p-dataTable>
