p.d-inline
  | Current range: from <b>{{ range?.start | date: 'dd/MM/y' }}</b> to <b>{{ range?.end | date: 'dd/MM/y' }}</b>

button.btn.btn-primary.btn-xs(type="button", (click)="collapsed = !collapsed")
  | Change

.container-fluid([collapse]="collapsed", style="background-color: #bebebe;")
  .row
    .col-md-8
      .d-inline Last
      .d-inline
        .btn-group(role="group")
          button.btn.btn-outline-primary.btn-xs(type="button", *ngFor="let r of preset_ranges", (click)="preset_range_clicked(r)") {{ r.label }}

    .col-md-4
      .btn-group(role="group")
        button.btn.btn-primary.btn-sm(type="button", (click)="apply()") Apply
        button.btn.btn-secondary.btn-sm(type="button", (click)="reset()") Cancel
  hr
  .row
    .col-xs-5
      div(style="display:inline-block; min-height:290px;")
        datepicker([(ngModel)]="start_date", [showWeeks]="false", [startingDay]="1")
    .col-xs-5
      div(style="display:inline-block; min-height:290px;")
        datepicker([(ngModel)]="end_date", [showWeeks]="false", [startingDay]="1")

