$topnav-background-color: #222;

@import "bootstrap/scss/bootstrap";
@import "font-awesome/scss/font-awesome";
@import "nvd3/build/nv.d3";

@import "./loader";
@import "./topnav";
@import "./sidebar";
@import "./login";

.main-container {
  margin: 50px 0 0 225px;
  padding: 10px;
  position: relative;
  z-index: 1;
}

/* #toggle-sidebar { */
/*     position: fixed; */
/*     top: 0px; */
/*     left: 5px; */
/*     color: #FFF; */
/*     background: #222; */
/*     font-size: 23px; */
/*     z-index: 3; */
/*     display: none; */
/* } */

.btn:focus {
  outline: 3px auto #FFF;
}


a:hover {
  text-decoration: none;
}

.bg-white {
  background: #fff;
}

.btn-xs {
  $btn-padding-x-xs: .3rem !default;
  $btn-padding-y-xs: .15rem !default;
  $font-size-xs: .475rem !default;
  $border-radius-xs: .1rem !default;
  $btn-border-radius-xs: $border-radius-xs !default;

  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, $btn-border-radius-xs);
}


// From http://stackoverflow.com/questions/26638215/how-to-replace-glyphicons-with-fontawesome-in-bootstrap-3-without-changing-html
.glyphicon {
  @extend .fa;

  &.glyphicon-chevron-left {
    @extend .fa-chevron-left;
  }

  &.glyphicon-chevron-right {
    @extend .fa-chevron-right;
  }
}

daterange-selector {
  datepicker {
    z-index: $zindex-popover;

    yearpicker,
    monthpicker,
    daypicker {
      .btn {
        font-size: 70%;
      }
    }
  }

  .popover, .popover-content {
    z-index: $zindex-popover;
  }
}

/* project-selector { */
/*   .project-tag { */
/*     @import "bootstrap/scss/variables"; */
/*     @import "bootstrap/scss/mixins/border-radius"; */
/*     border: $border-width solid; */
/*     border-color: $brand-primary; */
/*     @include border-radius($border-radius-sm); */

/*     display: inline-block; */
/*     padding: .25em .4em; */
/*     font-size: 75%; */
/*     text-align: center; */
/*     white-space: nowrap; */
/*   } */

/*   .dropdown { */
/*     width: 200px; */
/*   } */

/*   .scrollable-menu { */
/*      height: auto; */
/*      max-height: 200px; */
/*      overflow-x: hidden; */
/*   } */
/* } */
