//-
//- caos-dashboard - CAOS dashboard
//-
//- Copyright © 2016 INFN - Istituto Nazionale di Fisica Nucleare (Italy)
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-     http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//-
//-
//- Author: Fabrizio Chiarello <fabrizio.chiarello@pd.infn.it>
//-

.form-inline
  .form-group
    label Date range: {{ global_daterange.start | date: 'dd/MM/y HH:mm' }} -- {{ global_daterange.end | date: 'dd/MM/y HH:mm' }} ({{ global_daterange_label }})
    button.btn.btn-secondary.btn-sm(type="button", [popover]="daterange_popover")
      | Change
      i.fa.fa-fw.fa-calendar

popover-content(#daterange_popover, placement="auto bottom", (click)="$event.stopPropagation();")
  div
    .row
      .col-md-12.text-md-center
        h5
          | {{ daterange.start | date: 'dd/MM/y HH:mm' }} -- {{ daterange.end | date: 'dd/MM/y HH:mm' }}
          .btn-group.pull-right
            button.btn.btn-primary(type="button", (click)="ok_clicked(); daterange_popover.hide()") OK
            button.btn.btn-secondary(type="button", (click)="cancel_clicked(); daterange_popover.hide()") Cancel

    hr

    .row
      .col-xs-3
        .btn-group-vertical
          button.btn.btn-secondary.btn-sm(type="button", *ngFor="let r of presets", [class.active]="is_selected(r)",  [class.btn-primary]="is_global_selected(r)", (click)="preset_clicked(r)")
            | {{ r.label }}

      .col-xs-9
        div
         .row
          .col-xs-6
            .row
              .col-xs-12.text-xs-center
                h5 Start

            .row
              .col-xs-12
                label <b>Date:</b> {{ start_date | date: 'dd/MM/yy' }}
                datepicker([(ngModel)]="start_date", [showWeeks]="false", [startingDay]="1")
                .form-inline
                  .form-group
                    label(for="daterange_starttime_group") <b>Time:</b> {{ start_time/60 | number: '2.0-0' }}:00
                    .input-group#daterange_starttime_group
                      input(type="range", min=0, max=1439, step=60, [(ngModel)]="start_time")

          .col-xs-6
            .row
              .col-xs-12.text-xs-center
                h5 End

            .row
              .col-xs-12
                label <b>Date:</b> {{ end_date | date: 'dd/MM/yy' }}
                datepicker([(ngModel)]="end_date", [showWeeks]="false", [startingDay]="1")
                .form-inline
                  .form-group
                    label(for="daterange_endtime_group") <b>Time:</b> {{ end_time/60 | number: '2.0-0' }}:00
                    .input-group#daterange_endtime_group
                      input(type="range", min=0, max=1439, step=60, [(ngModel)]="end_time")
