//-
//- caos-frontend - CAOS frontend
//-
//- Copyright © 2016 INFN - Istituto Nazionale di Fisica Nucleare (Italy)
//-
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-
//-     http://www.apache.org/licenses/LICENSE-2.0
//-
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
//-
//-
//- Author: Fabrizio Chiarello <fabrizio.chiarello@pd.infn.it>
//-

.form-inline.form-group
  label(for="projects_button_group", *ngIf="label") {{ label }}

  .btn-group#projects_button_group
    button.btn.btn-xs(type="button", (click)="select_all()")
      | Select All

    button.btn.btn-xs(type="button", (click)="unselect_all()")
      | Unselect All

    button.btn.btn-secondary.btn-xs(type="button", *ngFor="let p of projects", [class.active]="is_selected(p)", (click)="toggle_selected(p)") {{ p.name }}
  //   .input-group#projects_group(dropdown, autoClose="outsideClick")
  //     .input-group.input-group-sm(dropdownToggle, [addToggleClass]="false")
  //       span.input-group-addon
  //         i.fa.fa-search
  //       input.form-control(type="text", placeholder="Select projects...", [(ngModel)]="search_text")
  //       span.input-group-btn(*ngIf="search_text")

  //     div(dropdownMenu, role="menu")
  //       button.dropdown-item(role="menuitem", (click)="select_all()")
  //         span.fa.fa-fw.fa-check
  //         | Select All

  //       button.dropdown-item(role="menuitem", (click)="unselect_all()")
  //         span.fa.fa-fw.fa-times
  //         | Unselect All

  //       .dropdown-divider

  //       .scrollable-menu
  //         button.dropdown-item(*ngFor="let p of searched_projects", role="menuitem", (click)="toggle_selected(p)")
  //           span.fa.fa-fw([class.fa-check]="is_selected(p)")
  //           | {{ p.name }}

  // div
  //   p(*ngIf="!selected_projects.length") No project selected
  //   span.project-tag(*ngFor="let p of selected_projects")
  //     | {{ p.name }}
  //     button.close.btn-xs(type="button", (click)="toggle_selected(p)")
  //       span.fa.fa-fw.fa-border.fa-times
